/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/*fuente titulos*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
/*fuente nueva cuerpo*/
/*cabecera titulo*/
header {
  background-color: white;
  justify-content: center;
  padding: 30px;
}

header div h1.titulo {
  font-family: "Bebas Neue", cursive;
  color: #e44688;
  font-size: 80px;
  text-align: center;
  padding: 18px;
  margin-top: 18px;
}

/*menu busqueda*/
div ul li a.nav-link {
  color: #e44688;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

/*boton busqueda*/
form.d-flex {
  margin-right: 15px;
}

form.d-flex button.btn.btn-outline-success {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #e44688;
  border-color: #e44688;
}

form.d-flex button.btn.btn-outline-success:hover {
  background-color: #e44688;
  color: white;
}

/*contenido cuerpo index*/
div {
  background-color: white;
}

div .imagenes img {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

div .texto {
  font-size: 16px;
  margin-top: 20px;
  font-family: "Roboto Slab", serif;
  color: black;
}

/*titulo secundario*/
div {
  background-color: white;
}

div h2 {
  font-family: 'Bebas Neue', cursive;
  color: #e44688;
  font-size: 22px;
  text-align: center;
  margin-top: 18px;
  text-decoration: underline;
}

/*barra glow*/
p.placeholder-glow {
  background-color: white;
}

p.placeholder-glow span {
  color: #e44688;
}

/*carrousel marcas*/
div {
  background-color: white;
}

div img.marcas {
  width: 100px;
  height: 100px;
  margin-left: 46%;
}

/*footer y ultimo articulo*/
div article {
  font-size: 16px;
  margin-top: 20px;
  font-family: "Roboto Slab", serif;
  color: black;
}

div footer {
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  color: black;
  text-align: center;
  margin-top: 15px;
}
