/*variables*/

@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /*fuente titulos*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap"); /*fuente nueva cuerpo*/


/*cabecera titulo*/
body {
  background-color: white;
  div.iconos {
    color: $pink-letter;
    text-align: right;
    i {
      margin-left: 5px;
    }
  }
  header {
    background-color: white;
    justify-content: center;
    padding: 30px;
  }
}

/*menu busqueda*/
nav {
  button.navbar-toggler{
    background-color: $pink-letter;
  }
  .logoTitle {
    @include sizes(310px, 160px);
  }
  #navbarNav {
    flex-wrap: nowrap;
    justify-content: flex-end;
    ul.navbar-nav {
      white-space: nowrap;
      li {
        a.nav-link {
          color: black;
          font-family: $title-font;
          font-size: 20px;
          
          &:hover {
            color: $pink-letter;
          }
        }
      }
    }
  }
}

/*Imágenes de arriba*/

div.imagenSupUno {
  background-image: url(imagenes/background01.png);
  margin-top: 10px;
  background-position: 15% center;
  height: 300px;
  h1 {
    font-family: $title-font;
    font-size: 100px;
    color: white;
    align-content: center;
    margin-left: 18px;
  }
  p {
    font-family: $body-font;
    font-size: 14px;
    color: white;
    text-align: center;
    font-style: italic;
    margin-left: 18px;
  }
}

div.imagenSupDos {
  background-image: url(imagenes/background02.png);
  margin-top: 10px;
  background-position: bottom; 
  height: 300px;
  h1 {
    font-family: $title-font;
    font-size: 100px;
    color: black;
    align-content: center;
    margin-left: 18px;
  }
  p {
    font-family: $body-font;
    font-size: 14px;
    color: black;
    text-align: center;
    font-style: italic;
    margin-left: 18px;
  }
}

div.imagenSupTres {
  background-image: url(imagenes/background03.png);
  margin-top: 10px;
  background-position: bottom; 
  height: 300px;
  h1 {
    font-family: $title-font;
    font-size: 100px;
    color: black;
    align-content: center;
    margin-left: 18px;
  }
  p {
    font-family: $body-font;
    font-size: 14px;
    color: black;
    text-align: center;
    font-style: italic;
    margin-left: 18px;
  }
}

div.imagenSupCua {
  background-image: url(imagenes/background04.png);
  margin-top: 10px;
  background-position: bottom; 
  height: 300px;
  h1 {
    font-family: $title-font;
    font-size: 100px;
    color: black;
    align-content: center;
    margin-left: 18px;
  }
  p {
    font-family: $body-font;
    font-size: 14px;
    color: black;
    text-align: center;
    font-style: italic;
    margin-left: 18px;
  }
}


/*contenido cuerpo index*/

div {
  .imagenes {
    img.unia,
    img.me {
      @include sizes(300px, 350px);
      margin-top: map-get($estilos, marginT); 
      border-radius: 20px;
    }
    img.giftcard {
      @include sizes(320px, 150px);
      margin-top: map-get($estilos, marginT); 
      border-radius: 20px;
      border: $pink-letter solid;
    }
  }

  .texto {
    font-size: map-get($estilos, fuenteT);
    margin-top: map-get($estilos, marginT);
    font-family: $body-font;
    color: black;
    font-style: italic;
  }
}

div.heart {
  text-align: center;
  i {
    color: $pink-letter;
    font-size: 20px;
    margin-top: map-get($estilos, marginT);
  }
}

/*titulo secundario*/
div {
  background-color: white;
  h2 {
    font-family: "Bebas Neue", cursive;
    color: $pink-letter;
    font-size: 22px;
    text-align: center;
    margin-top: 18px;
    text-decoration: underline;
  }
}



/*ultimo articulo index*/

div {
  article {
    font-size: map-get($estilos, fuenteT);
    margin-top: 20px;
    font-family: $body-font;
    color: black;
    font-style: italic;
  }
}

/*Footer*/
footer {
  justify-content: center;
  font-family: $title-font;
  font-size: 12px;
  color: black;
  text-align: center;
  margin-top: 15px;
  background-color: $pink-letter;
  height: 150px;
  #footerG {
    background-color: $pink-letter;
  }
  #footerP {
    background-color: black;
  }
}

/*Tarjetas cursos*/

div.card {
  img.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.card-body {
    h5.card-title {
      font-family: $title-font;
      color: $pink-letter;
    }
    p.card-text {
      font-size: map-get($estilos, fuenteT);
      font-family: $body-font;
      color: black;
      font-style: italic;
    }
  }
  div.card-footer {
    small {
      text-align: right;
    }
  }
}


/*formulario*/
form.newform {
  background-color: white;
  margin: 20px;
  h2.tituloForm {
    font-family: $title-font;
    font-size: 22px;
    color: $pink-letter;
  }
  #botonEnviar,
  #botonCheck {
    background-color: $pink-letter;
    border-color: black;
    color: black;
    font-family: $title-font;
    &:hover {
      background-color: black;
      color: white;
  }
}
  div {
    label.form-label,
    label.form-check-label {
      font-family: $body-font;
    }
  }
}

/*tarjetas servicios*/ 
div {
  #textoServicios {
    color: $pink-letter;
    font-family: $title-font;
    font-style: normal;
    font-size: 18px;
  }
}

/*Mapa*/

div.mapa {
  iframe.mapita {
    @include sizes(350px, 200px);
    margin-top: map-get($estilos, marginT);
    margin-left: 10px;
    margin-right: 20px;
  }
}

/*testimonios*/
.tarjetas {
  display: flex;
  justify-content: center;
  div.col-md-4 {
    img {
      @include sizes(200px, 150px);
    }
  }

  div.col-md-8 {
    #personas {
      font-family: $body-font;
      color: black;
    }
    #personasPeq {
      font-family: $body-font;
      font-size: 14px;
    }
  }
}

/*Trabaja con nosotros*/
div.work {
  background: url(imagenes/backtrabaj.png) center center no-repeat;
  margin-top: map-get($estilos, marginT);
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div.texto {
    font-family: $body-font;
    color: white;
    background-color: transparent;
  }
  div.botoncito {
    background-color: transparent;
    button.btn.btn-primary.mb-3 {
      font-family: $title-font;
      font-size: 20px;
      color: $pink-letter;
      border-color: $pink-letter;
      background-color: transparent;
      margin-top: map-get($estilos, marginT);
      &:hover {
        background-color: $pink-letter;
        color: white;
      }
    }
  }
}


/*Propiedades nuevo slide*/

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animación
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Estilo
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: 20px auto auto auto;
  overflow: hidden;
  position: relative;
  width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;
  }
}


/*personalizar slide marcas*/

div {
  background-color: white;
  img.marcas {
    @include sizes(100px, 100px);
    margin-left: 46%;
  }
}

/*Vistas personalizadas*/

//celular
@media screen and (min-width: 360px) {
  .slider,
  .marcas {
    display: none;
  }
}

//tablet
@media screen and (min-width: 600px) {
  .slider,
  .marcas {
    display: none;
  }
}

//monitor
@media screen and (min-width: 1200px) {
  .slider,
  .marcas {
    display:block;
  }

  .heart {
    display: none;
  }

  .imagenSupUno,
  .imagenSupDos,
  .imagenSupTres,
  .imagenSupCua {
    height: 500px !important;
    h1.imagengrande {
      font-size: 200px;
    }

    p.textogrande {
      font-size: 18px;
    }
  }

  div {
    .imagenes {
      div.giftdiv {
        img.giftcard {
          @include sizes(450px, 250px);    
        }
      }
    }
  }

  div.mapa {
    iframe.mapita {
      @include sizes(500px, 250px);
    }
  }
}
