@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*fuente titulos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap'); /*fuente nueva cuerpo*/


/*Universal*/
* { 
    margin: 0;
    padding: 0;
}


/*Titulo principal*/
h1.titulo {
    font-family: 'Bebas Neue', cursive;
    color: rgb(228, 70, 136);
    font-size: 80px;
    background-color: white;
    text-align: center;
    padding: 18px;
    margin-top: 18px;
}

/*header*/
header {
    justify-content: center;
    padding: 30px;
}

/*body*/
body {
    color: #000000;
    font-family: 'Roboto Slab', serif;
}

/*footer*/
footer {
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: black;
    text-align: center;
    margin-top: 15px;
}

/*menu nuevo*/
.nav-link {
    color: rgb(228, 70, 136);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

/*Botón búsqueda*/
.d-flex {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;   
    margin-right: 15px;
}

/*texto index*/
.texto,
.textito {
    font-size: 16px;
}

/*márgenes necesarios*/
.gif,
.textito,
.texto,
.social,
.mapa,
.botoncito {
    margin-top: 20px;
}

.gif {
    width: 300px;
    height: 300px;
}

/*redes - sobre mi*/
.redes {
    display: block; 
    margin-left: 100px; 
}

.social {
    width: 50px;
    height: 50px;
}

/*formulario*/

.newform {
    margin: 20px;
}

/*tarjetas*/
.tarjetas {
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fototarj {
    width: 170px;
    height: 170px;
}

/*titulo secundario*/
.tituloSec {
font-family: 'Bebas Neue', cursive;
color: rgb(228, 70, 136);
font-size: 22px;
background-color: white;
text-align: center;
margin-top: 18px;
text-decoration: underline;
}

/*nav*/
nav {
    background-color: white;
}

/*Mapa ubicación*/

.mapita {
    width: 500px;
    height: 300px; 
}

/*formulario trabajá con nosotros*/
.work {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 160, 212);
    border-radius: 15px;
}




/*Modificaciones puntuales a realizar más adelante*/

/*Vista Mobile
@media screen and (min-width: 320px) {

    .todo{
        grid-template-columns: auto;
        grid-template-rows: 20% 10% auto 10%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: "header" "nav" "section" "footer";
    }

    section {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        justify-items: stretch;
        align-items: stretch;
    }

    /*modifico para que en mobile en esta parte sean dos columnas
    .boxes {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    /*Oculto en vista para celular
    #menu {
        display: none;
    }



    /*Acomodar items redes

    .redes {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .social {
        width: 50px;
        height: 50px;
    }

    /*tamaño letra acomodado a mobile
    .formulario {
        font-size: 16px;
    }
}*/

/*pc escritorio
@media screen and (min-width: 1200px) {
    .todo {
        grid-template-columns: auto;
        grid-template-rows: 15% 10% auto 15%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: "header" "nav" "section" "footer";
    }

    section {
        grid-template-columns: auto;
        grid-template-rows: auto auto ;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        justify-items: stretch;
        align-items: stretch;
    }

    /*modifico para que en escritorio en esta parte sean cuatro columnas
    .boxes {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
    }



    /*muestra lo oculto en versión mobile
    #menu {
        display: block;
    }

    /*Oculto en vista para escritorio
    #busqueda,
    #hamburguesa {
        display: none;
    }

    /*Acomodo menú en vista esc.
    nav {
        display: flex;
        justify-content: center;
    }

    /*doy formato de tamaño en vista escritorio
    article {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .gif {
        width: 300px;
        height: 300px;
    }

    p,
    .textito {
        justify-content: center;
        font-size: 20px;
        color: black;
        display: inline-block;
        text-align: center;
    }

    p {
        text-align: center;
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }

    footer {
        font-size: 10px;
    }

    .formulario {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .texto {
        text-align: center;
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
}/*
